<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - SIMPLECMS</title>

    @* icons *@
    <link href="~/favicon.ico" rel="icon">
    <link href="~/img/favicon.png" rel="image/png">

    <link rel="stylesheet" href="~/css/site1.css" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>

<script src="~/js/error.js"></script>
</html>
